{% extends 'layout/base.html'%}
{% block title %}Registro{% endblock %}
{% block content %}
<style>
    tr th, tr td{
        text-align: center;
    }
</style>
<div class="container">
    <table class="table" id="tablaRegistro">
        <tr><th>Sensor</th><th>Hora</th><th>Temperatura</th><th>Humedad</th></tr>
    </table>
</div>
<script>
    window.onload = () => {
        let listaSensor;
        var request = new XMLHttpRequest();
            request.onreadystatechange = () => {
                if (request.readyState === 4) {
                    if (request.status === 200) {
                        let e = JSON.parse(request.responseText);
                        console.log(e);listaSensor = e; console.log(listaSensor);resultadoSensores();
                    } else {
                        console.log('An error occurred during your request: ' + request.status + ' ' + request.statusText);
                    }
                }
            }
            request.open('Get', './api');
            request.send();
        function resultadoSensores() {
            let tabla = "";
            for (let x of listaSensor) {
                console.log(x);
                let date = new Date(Date.now());
                tabla += "<tr><td>"+1+"</td><td>"+date.toLocaleTimeString()+"</td><td>" + x.Temperatura + " C°</td><td>" + x.Humedad + "% </td><tr>";
            }
            let antestabla = document.getElementById("tablaRegistro").innerHTML;
            document.getElementById("tablaRegistro").innerHTML = antestabla + tabla;
        }
    }

    $('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
</script>
{% endblock%}